<!DOCTYPE html>
<html>
<head>
	{% comment %} {% extends "index.html" %} {% endcomment %}
	{% load static %}
	{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/design.css' %}">
	{% endblock %}
	<style>
		.button {
			display: flex;
			justify-content: center;
		}
		.button1 {
			text-align: center;
		}
		.submitbutton {
			margin-top: 30px;
		}
		.account-text {
			margin-top: 15px;
			text-align: center;
			font-size: 15px;
		}
	</style>
</head>
<body>
	<div class="page" style="background-image: url('{% static 'Cover.jpg' %}')">
		<div class="form">
			<div class="button">
				<button type="button" class="button1" onclick="Login()">Log In</button>
			</div>
			<div class="icons">
				<a href="https://www.facebook.com/" target="_blank"><img src="{% static 'fb.png' %}"></a>
				<a href="https://www.instagram.com/" target="_blank"><img src="{% static 'in.png' %}"></a>
				<a href="https://accounts.google.com/" target="_blank"><img src="{% static 'gg.png' %}"></a>
				<a href="https://twitter.com/login" target="_blank"><img src="{% static 'tw.png' %}"></a>
			</div>
				<form id="Login" class="input" method="POST" action="{% url 'login' %}">
				{% csrf_token %}
				<input type="text" class="field1" name="username" placeholder="User Name" required="">
				<input type="password" class="field1" name="password" placeholder="Password" required="">
				{% comment %} <input type="checkbox" class="check-box"><span>Remember Password</span> {% endcomment %}
				<button type="submit" class="submitbutton">Log In</button>
				<div class="account-text">
					<p>Don't have an account?<a href='/signup'> Create Now</a></p>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
